<div class="center jumbotron"><h1>Department</h1>
<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<h2>Associates</h2>
<%= render @department.associates %>

<h2>Add a associate:</h2>
<%= render 'associates/form' %>

<%= link_to 'Edit department', edit_department_path(@department) %>
<%= link_to 'Back', departments_path %>
</div>